<ion-view view-title="Electricidad">
    <ion-content>
        <div class="content padding">
            <h1>Electricidad</h1>

            <div class="list">
                <a class="item" href="#">
                    Tope evento año
                    <span class="badge badge-assertive badge-elect">1 Evento</span>
                </a>
                <a class="item" href="#">
                    Límite de evento año
                    <span class="badge badge-assertive badge-elect">UF 2</span>
                </a>
            </div><!-- /.list -->


            <div class="card">
              <div class="item item-text-wrap">
                <p>
                    Cuando a consecuencia, de una falla en las instalaciones particulares
                    del DOMICILIO y se produzca falta de energía eléctrica, en toda o en
                    alguna de sus dependencias, la empresa de asistencia enviará, un
                    operario que realizará la reparación de urgencia para restablecer el
                    suministro eléctrico, en un plazo de 48 horas como máximo, después
                    de la llamada telefónica por parte del cliente.
                </p>

                <p>
                    El servicio podrá ser utilizado en el domicilio que defina el cliente.
                    No incluye materiales
                </p>

            </div>
        </div>

    </div>
</ion-content>
</ion-view>
